[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ukgasapi"]
	path = ukgasapi
	url = https://github.com/timothywong731/ukgasapi
